@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-family: Helvetica, Arial, sans-serif;
  --light-blue: #58699d;
  --dark-grey: #2a324b;
  --light-grey: #e1e5ee;
  --white: #fff;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: large;
  font-weight: 800;
}

.li.active {
  background-color: var(--white);
  color: #2a324b;
}

.li {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 1.7rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
